<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
/*.pd{width:4em;flex-shrink:0;padding-bottom:.9em}.par div{display:flex}
/*blockquote p{margin-right:0;margin-left:0}p{margin-right:1em;margin-left:1em}*/table,td,th{border:1px solid #000;border-collapse:collapse;margin-top:20px;margin-bottom:20px}pre{white-space:break-spaces;overflow:auto;margin-right:1em;margin-left:1em}body{font-family:sans-serif;color:#222;font-size:15px;    -webkit-font-smoothing: antialiased;}h1{font-family:sans-serif;letter-spacing:-.01em}h2,h3,h4,h5,h6{/*margin-bottom:-10px;*/font-family:sans-serif;letter-spacing:-.01em}a{color:#00f;font-family:sans-serif}a:hover{background-color:#yellow}/*@media (prefers-color-scheme:dark){body{background-color:#242424;background:#242424;color:#c1b7a5}a{color:#ffb200}a:hover{background-color:#2e2e2e}hr{border:1px solid #c1b7a5}img{opacity:.8}}*/</style>



  
  {{ content }}
	

